html {
  background-color: lavenderblush !important;
}

.App {
  text-align: center;
  /* display: flex; */
  background-color: lavenderblush;
  user-select: none;
}

.custom-border {
  border-left: 1px;
  box-shadow: 0.1px 0.1px 40px grey;
}

.button {
  width: 300px !important;
}

.token-definition-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.definition-token {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  font-size: 60px;
  margin: 30px;
  margin-top: 10px;
}

.definition-token:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 5px 5px 40px grey;
}

.pool-token {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 10px;
}

.token-pool-container {
  display: flex;
  flex-wrap: wrap;
}

.current-table-container {
  margin-top: 150px;
  margin-left: 350px;
  margin-right: 350px;
  height: 400px;
}
